<head>
    <title>Nutritional Facts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
</head>

<body>
<div id="container" class="content center-block">
    <h2 class="title">Saved:</h2>

    <div class="box">
        <ul>
            <!-- you can use a python-line for loop which is simpler  -->
            {% for item in data_from_database %}
                <h5> {{ item[0] }} </h5>
                <p> {{ item[1] }} </p>            
                <p> {{ item[2] }} </p>
                <p>Calories: {{ item[3] }} </p>
                <img src="{{ item[4] }}" alt="{{ item[0] }}">   <!-- use something useful for alt text or omit -->
                <br>
                <hr>
            {% endfor %}
        </ul>   
    </div>
</div>
</body>

</html>

<style type="text/css">

    /* use an external stylesheet for consistency  */
    body {
        text-align: left;
    }
    
    img {
        width: 120px;
        height: 120px;
    } 

    .box {
        margin-top: 70px;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid rgb(0, 0, 0);
        margin: 1em 0;
        padding: 0;
    }
</style>